ul{
    list-style-type: none;
    margin: 0;
    padding: 0 44%;
    width: 200px;
}
li a {

    align: center;
    text-decoration: none;
    color: rgb(255, 0, 0);
    background-color: rgb(10, 85, 150);
    display: block;
    padding: 8px 16px;
}

li a:hover {
    background-color: rgb(179, 255, 0);
}