.topads {
    text-align: center;
}

.title {
    text-align: center;
}

.game {
    text-align: center;
}

.bottomads {
    text-align: center;
}

body {
    background-color: black;
    color:white;
}