* {margin:0;padding:0}


body {
    background-color: black
}

.title {
    background-image: url("https://media.discordapp.net/attachments/1013753199963942913/1159741872495939624/image.png?ex=653220c9&is=651fabc9&hm=a0ba055100092dd19c0424934f423a13b78584162895e06bc4bec87c9d0f1adf&=&width=790&height=702");
    height: 5%;
    background-size: cover;
    width: 50%;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 70%;
    
}

.title h1 {
    text-align: center;
    padding: 1%;
    text-shadow: 5px 5px #292c36;
    font-size: 50px;
    color: white;
    font-family: sans-serif;
    word-wrap: break-word;

}